body{
	background: cyan;

}
#logo{
	height:40px;
	float: left;
}
#co{
	float: right;
}
h3{
	margin-bottom: 20px;
}

	
.main{
	clear: both;
	margin-top: 30%;
	text-align: center;
	color: #fff;
}
button{
	background: green;
	color: #fff;
	margin-top: 20px;
	width: 6%;
	height: 12%;
}